<h1><%= @cocktail.name %></h1>


<%= link_to 'Cocktails', cocktails_path %>
<%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail) %>

<% @cocktail.doses.each do |dose| %>
<%= dose.description %>
<%= dose.ingredient.name %>
<%= link_to "Delete", dose_path(dose), method: :delete %>
<% end %>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>